* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
}

.section-form-intro{
  padding: 9em 10% 0 10%;
  background-color:#F0F5F9;
  padding-bottom: 1em;
}

.section-contact-us-form{
  padding-top: 1.5em;
  padding-bottom: 4em;
  background-color: #F0F5F9;
}
